#task-info {
  background-color: white;
  margin: 1rem 0;
  height: auto;
  border-radius: 10px;
  text-align: start;
  width: 20rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#task-info h3 {
  font-size: 18px;
}
#task-info p {
  font-size: 12px;
}
.task-info-text {
  padding: 1rem 0.5rem;
}

/* modify task modal */
.modify-task {
  display: flex;
  flex-direction: column;
}
.modify-task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#modify-task-form {
  display: flex;
  flex-direction: column;
}
#modify-task-form p {
  color: #828fa3;
}

#modify-task-form .modify-task-section {
  font-weight: bold;
}
.task-checkbox-container {
  background-color: #f4f7fd;
  border-radius: 5px;
  margin: 1rem 0;
}
input[type="checkbox"] {
  accent-color: #635fc7;
}
.task-checkbox-container label {
  margin: 0.5rem;
}
.task-checkbox-container input {
  margin: 0 0 0 1rem;
}
