.welcome-view {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(99, 95, 199);
  h1 {
    color: white;
    font-weight: bold;
  }
  .image {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/pm-banner-feature-image.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
  }
}

.spacer {
  aspect-ratio: 900/450;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url("../../assets/layered-waves-haikei.svg");
}
.welcome-actions {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
