.welcome-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(99, 95, 199);
  background: radial-gradient(
    circle,
    rgba(99, 95, 199, 1) 0%,
    rgba(23, 13, 15, 1) 100%
  );
  h1 {
    color: white;
    font-weight: bold;
  }
}

.welcome-actions {
  width: 10grem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
