.welcome-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-actions {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
