.column-home {
  background-color: #f4f7fd;
  height: 90vh;
}

.board-header {
  border-bottom: 2px solid #e4ebfa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 97px;
}
.board-header h1 {
  font-size: 30px;
  font-weight: bold;
}
