$color_1: #828fa3;
$color_2: white;
$background-color_1: #e4ebfa;
$background-color_2: #635fc7;
$color_dark_1: #828fa3;
$color_2: white;
$background-dark-color_1: #252531;
$background-color_2: #635fc7;

/* Create column modal */
.board-main-view {
  height: 100%;
}
.column-home {
  display: flex;
  flex-direction: row;
  height: auto;
}
.column-view {
  width: 20rem;
  margin: 2rem 1rem;
}
.light .create-column-btn {
  height: 85%;
  width: 20rem;
  background-color: $background-color_1;
  border: none;
  border-radius: 10px;
  margin: 5rem 2rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color_1;
}

.dark .create-column-btn {
  height: 85%;
  width: 20rem;
  background-color: $background-dark-color_1;
  border: none;
  border-radius: 10px;
  margin: 5rem 2rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color_dark_1;
}
.create-column-btn:hover {
  color: #635fc7;
}
.empty-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 40vh;
  p {
    color: $color_1;
    font-weight: bold;
  }
}
.create-first-column-btn {
  padding: 0 2rem;
  line-height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: $background-color_2;
  color: $color_2;
}
.form-create-column {
  display: flex;
  flex-direction: column;
  #column-name {
    line-height: 2.2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 2px solid #e4ebfa;
    color: $color_1;
  }
}
